name: Test

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        version: [ 20, 22, 24 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm run build
      - run: npm run test
      - name: junit report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: './report/report.xml'
          fail_on_failure: true